body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Headings */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    text-transform: uppercase;
  }
  tr:nth-child(even){
    background-color: rgb(185, 255, 255);
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    .content {
      padding: 10px;
    }
  }
  nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  .a :hover{
    color: #4CAF50;
  }
  .e :hover{
    color: yellow;
  }
  .d :hover{
    color: red;
  }
  
  .logo img {
    height: 80px;
    border-radius: 50%;
  }
  